.customBtn {
    color: black;
    transition: background-color 250ms ease;
}

.customBtn:not(:nth-last-child(0)){
    margin-left: 5px;
}

.music {
    background-color: blue;
}

.movie {
    background-color: palevioletred;
}

.music:hover{
    background-color: darkblue;
}

.movie:hover{
    background-color: rgb(248, 53, 134);
}